<h2>All Messages</h2>

  <% messages_from_specific_user =  @received.map { |x| x.user_id }.uniq %>
  <% messages_to_specific_user = @sent.map { |x| x.receiver_id }.uniq %>

<!-- EMPTY ARRAY THAT WILL HOLD ALL MESSAGES: TO AND FROM -->
  <% @messages_with_specific_user = [] %>

  <% messages_to_specific_user.each do |to| %>
    <% @messages_with_specific_user << to %>
  <% end %>
  <% messages_from_specific_user.each do |from| %>
    <% @messages_with_specific_user << from %>
  <% end %>


  <% @messages_with_specific_user.uniq.each do |message| %>
    <div class="container">
        <div class="card">
          <% if !message.nil? %>
            <% person = User.find(message) %>
              <%= person.id %>
              <%= person.full_name %>

              <%= link_to user_path(person.id) do %>
                  <!-- Avatar wrapped in profile link -->
                  <%= cl_image_tag person.photo, height: 100, width: 100, style:"border-radius: 50%; border: solid 1px;" %>
                  <% end %>

                  <% if @sent.empty? %>
                    <%= link_to "messages", user_message_path(person.id, @received.first.id) %>
                  <% else %>
                    <%= link_to "messages", user_message_path(person.id, @sent.first.id) %>
                  <% end %>
          <% end %>
        </div>
    </div>
      <% end %>
    <%= link_to "New Message", new_user_message_path(@user.id) %>

