<h2>Conversation</h2>

<% @all_messages = [] %>
  <% if @received.exists? %>
    <% @received.each do |r| %>
      <% @all_messages << r %>
    <% end %>
  <% end %>
<% if @sent.exists? %>
    <% @sent.each do |s| %>
      <% @all_messages << s %>
    <% end %>
  <% end %>



<!-- DIV ends after form -->
<div class="chat">
<%# @all_messages.each do |message| %>
  <ul id="message-list">
    <% @messages.sort.each do |message| %>
      <% @other_person = User.find(message.user_id) %>

        <% if message.user_id == current_user.id %>
          <div class="card">
            <li style="list-style-type: none";>
              <%= cl_image_tag @current_user.photo, height: 30, width: 30, style:"border-radius: 50%; border: solid 1px;"%> <%= message.sent %>
            </li>
          </div>
        <% else %>
          <div class="card">
            <li style="list-style-type: none";>
              <%= cl_image_tag @other_person.photo, height: 30, width: 30, style:"border-radius: 50%; border: solid 1px;"%> <%= message.sent %>
            </li>
          </div>
        <% end %>
    <% end %>
  </ul>
<%# raise %>

<!-- NEW FORM with AJAX -->
<form action="/users/<%=@current_user.id%>/messages" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="receiver_id" value="<%= params[:user_id] %>" />
  <input type="hidden" name="user_id" value="<%= @current_user.id %>" />

  <label for="">Sent
    <input type="text" name="message[sent]" id="" value="" />
  </label>

  <input type="submit" name="" id="" value="Add Message" />
 </form>
</div>

<!-- Old Form  -->
<%#= simple_form_for [@user, @message] do |f| %>
  <%#= f.input :sent, as: :text %>
  <%#= f.button :submit %>
<%# end %>
<%# raise %>
