<h2>Conversation with <%= @user.full_name %> <%= @user.id%></h2>

<% @all_messages_with_user = [] %>
  <% if @received.exists? %>
    <% @received.each do |r| %>
      <% if r.receiver_id == current_user.id && r.user_id == @user.id %>
      <% @all_messages_with_user << r %>
    <% end %>
  <% end %>
  <% end %>

<% if @sent.exists? %>
    <% @sent.each do |s| %>
      <% if s.receiver_id == @user.id && s.user_id == current_user.id %>
      <%# raise %>
        <% @all_messages_with_user << s %>
      <% end  %>
    <% end %>
  <% end %>

<!-- DIV ends after form -->
<div class="chat">
<%# @all_messages_with_user.each do |message| %>
  <ul id="message-list">
    <% @all_messages_with_user.sort.each do |message| %>
      <% other_person = User.find(@user.id) %>

        <% if message.user_id == current_user.id %>
        <!-- YOU -->
          <div class="card">
            <li style="list-style-type: none";>
              <%= cl_image_tag @current_user.photo, height: 30, width: 30, style:"border-radius: 50%; border: solid 1px;"%> <%= message.sent %>
               <div style="float:right;">
                <%= message.created_at.strftime("%I:%M%p") %> <%= message.created_at.strftime("%m/%d/%Y") %>
              </div>
            </li>
          </div>

        <% else %>
        <!-- OTHER PERSON -->
          <div class="card">
            <li style="list-style-type: none";>
             <strong><%= cl_image_tag other_person.photo, height: 30, width: 30, style:"border-radius: 50%; border: solid 1px;"%> <%= message.sent %>
              <div style="float:right;">
                <%= message.created_at.strftime("%I:%M%p") %> <%= message.created_at.strftime("%m/%d/%Y") %></strong>
              </div>
            </li>
          </div>
        <% end %>
    <% end %>
  </ul>
<%# raise %>

<!-- NEW FORM with AJAX -->
<form action="/users/<%=@current_user.id%>/messages" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="receiver_id" value="<%= params[:user_id] %>" />
  <input type="hidden" name="user_id" value="<%= @current_user.id %>" />

  <label for="">
    <input type="text" name="message[sent]" id="" value="" />
  </label>

  <input type="submit" name="" id="" value="Add Message" />
 </form>
</div>

<!-- Old Form  -->
<%#= simple_form_for [@user, @message] do |f| %>
  <%#= f.input :sent, as: :text %>
  <%#= f.button :submit %>
<%# end %>
<%# raise %>
