<h2>Your Profile</h2>
<%= @user.full_name %>
<%# raise %>
<div class="container">
<%= cl_image_tag @user.photo, height: 200, width: 200, style:"border-radius: 50%; border: solid 1px;"  %>
  <p>Email: <%= @user.email %></p>
  <div class="card mb-5">
    <%= render "./users/photo_form" %>
  </div>
  <%#= @userdelete_duplicate_profile %>
  <%# @user.user_profile.each do |attribute| %>
  <% @user.delete_duplicate_profile %>
  <%# @user.profiledo |attribute| %>

  <div>
    <div class="card">
    <p>Bio:</p>
      <%= @user.profile.bio %>
    </div>
    <div class="card">
      <p>Skills:</p>
        <% if !@user.profile.skills.empty? %>
        <!-- ***DON'T KNOW WHY FIRST ELE IS ""*** -->
          <%= @user.profile.skills[1..-1].join(", ").capitalize%>
        <% end %>
    </div>
    <!-- <p>Interests: <%#= attribute.interests.join (", ") %></p> -->
    <%= link_to "Edit", edit_user_profile_path %>
  </div>

  <%# end %>
  <!-- Had to change delete? == true in devise for this to work!! -->
<%= link_to "Delete Account", user_path, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
