<h2>Your Profile</h2>

<div class="container">

<%= cl_image_tag @user.photo, height: 200, width: 200, style:"border-radius: 50%; border: solid 1px;"  %>
<%# raise %>
  <p>Email: <%= @user.email %></p>
  <%= render "./users/photo_form" %>

  <% @user.user_profile.each do |attribute| %>
  <div>
    <p>Bio:<%= attribute.bio %></p>
    <p>Skills: <%= attribute.skills.join(", ") %></p>
    <p>Interests: <%= attribute.interests.join (", ") %></p>
  </div>

  <% end %>

</div>
