<h2>All likes</h2>

  <% like_instances_of_who_liked_me_array = [] %>

  <%  Like.where(swiped_id: @user.id).each do |user| %>
      <% if user.liked != false %>
        <% like_instances_of_who_liked_me_array << user %>
      <% end %>
  <% end %>

<% people_who_liked_me_array = [] %>

<% like_instances_of_who_liked_me_array.each do |u| %>
  <% if u.liked != false %>
    <% people_who_liked_me_array << User.find(u.user_id) %>
  <% end %>
<% end %>

<!-- ITERATE through everyone who liked me to check if we are already connected -->
<!-- If we are NOT -- SHOW them in the Likes tab -->
<% people_who_liked_me_array.uniq.each do |liked_me| %>
  <div class="card">
    <%# raise %>
    <% if !@user.like_check.include?(liked_me) &&
      liked_me != current_user && !(@user.likes.where(swiped_id: liked_me.id, liked: false).exists?) %>
      <!-- && @user.likes.where(swiped_id: liked_me.id, liked: true) -->
      <!-- NAME -->
      <%= liked_me.id %>
      <%= liked_me.full_name %>
      <!-- IMAGE -->
      <% if !liked_me.photo.nil? %>
        <%= cl_image_tag liked_me.photo, height: 100, width: 100, style:"border-radius: 50%; border: solid 1px;" %>
      <% end %>
          <!-- PROFILE -->
      <%= link_to "Profile", user_path(liked_me.id) %>

      <!-- IF THE LIKE DOESN'T EXIST, CREATE IT -->
      <% if @user.likes.where(swiped_id: liked_me.id).empty? %>

        <%= simple_form_for [liked_me, @like] do |f| %>
          <%= f.hidden_field :liked, value: true %>
          <%= f.button :submit, "Like" %>
        <% end %>

        <%= simple_form_for [liked_me, @like] do |f| %>
          <%= f.hidden_field :liked, value: false %>
          <%= f.button :submit, '[x]' %>
        <% end %>

      <% else %>
        <!-- IF THE LIKE ALREADY EXISTS, UPDATE IT -->
          <%= simple_form_for [@user, current_user.likes.where(swiped_id: liked_me.id)[0]] do |f| %>
            <%= f.hidden_field :liked, value: true %>
            <%= f.button :submit, '(like#update)' %>
          <% end %>

          <%= simple_form_for [liked_me, current_user.likes.where(swiped_id: liked_me.id)[0]] do |f| %>
          <%= f.hidden_field :liked, value: false %>
          <%= f.button :submit, '[x]' %>
        <% end %>

      <% end %>
    <% end %>
  </div>
<% end %>

