<h2>Match with new people, <%= current_user.first_name %>!</h2>



<div class="container">
    <% @discover_users.each do |user| %>
    <%# raise %>
      <% if current_user != user && !current_user.like_check.include?(user.full_name)%>
        <div class="card">
          <%= user.id %>
          <%= user.full_name %>
          <%= link_to "like", new_user_like_path(user) %>
          <%= link_to "Profile", user_path(user.id) %>
          <!--***** seems to delete it from the view but not the actual @discover_user array... ******-->
          <%= link_to 'Destroy', users_path(@discover_users.delete_at(@discover_users.find_index(user))), data: { confirm: 'Are you sure?' } %>
          <!-- ********* find a way to have a unique array per user, not impact other users ********-->
        </div>
      <% end %>
    <% end %>
</div>
