
<h2>Meet new collaborators, <%= current_user.first_name %>!</h2>

<div class="container">
    <% @users.each do |user| %>
      <% if current_user != user && (current_user.likes.where(swiped_id: user.id).empty? == true)%>
        <div class="card">
          <%= user.id %>
          <%= user.first_name + " " + user.last_name %>

          <% if !user.photo.nil? %>
            <%= cl_image_tag user.photo, height: 100, width: 100, style:"border-radius: 50%; border: solid 1px;" %>
          <% end %>
          <%#= link_to "like", user_likes_path(user.id), method: :post %>

<%= simple_form_for [user, @like] do |f| %>
  <%#= f.input :user_id %>
  <%# f.input :user_id, value: params[:user_id] %>
  <%#= f.hidden_field :user_id, value: @like.user_id = current_user.id %>
  <%#= f.hidden_field :swiped_id, value: @like.swiped_id = @user.id %>
  <%#= :swiped_id, :field, :value => params[:user_id] %>
  <%= f.hidden_field :liked, value: true %>
  <%= f.button :submit %>

  <% raise %>
<% end %>


          <%= link_to "Profile", user_path(user.id) %>
          <!--***** seems to delete it from the view but not the actual @discover_user array... ******-->
          <%#= link_to '[x]', users_path(@discover_users.delete_at(@discover_users.find_index(user))), data: { confirm: 'Are you sure?' }%>


          <%= simple_form_for [user, @like] do |f| %>
  <%#= f.input :user_id %>
  <%# f.input :user_id, value: params[:user_id] %>
  <%#= f.hidden_field :user_id, value: @like.user_id = current_user.id %>
  <%#= f.hidden_field :swiped_id, value: @like.swiped_id = @user.id %>
  <%#= :swiped_id, :field, :value => params[:user_id] %>
  <%= f.hidden_field :liked, value: false %>
  <%= f.button :submit, "[x]" %>


            <%= link_to "Profile", user_path(user.id) %>

            <%= simple_form_for [user, @like] do |f| %>
             <%= f.hidden_field :liked, value: false %>
              <%= f.button :submit, '[x]' %>
            <% end %>
        </div>
      <% end %>
    <% end %>
</div>
