<% if current_user.id = @user.id %>
  <h2>Your profile!</h2>
<% else %>
  <h2><%= @user.full_name %>'s Profile!</h2>
<% end %>

<div class="container">
  <p>Email: <%= @user.email %></p>

  <% @user.user_profile.each do |attribute| %>
  <div>
    <p>Bio:<%= attribute.bio %></p>
    <p>Skills: <%= attribute.skills.join(", ") %></p>
    <p>Interests: <%= attribute.interests.join (", ") %></p>
  </div>

  <% end %>

</div>
