<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fas fa-users"></i>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to users_path, class: "nav-link" do %>
            <i class="far fa-compass"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_likes_path(current_user.id), class: "nav-link" do %>
            <i class="fas fa-heart"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <% if !current_user.profile.nil? %>
          <%# raise %>
            <%= link_to user_profile_path(:user_id => current_user.id, :id => current_user.profile.id), class: "nav-link" do %>
                <i class="fas fa-user-circle"></i>
            <% end %>
          <% else %>
            <%= link_to "Create a profile", new_user_profile_path(current_user.id), class: "nav-link" do %>
                <i class="fas fa-user-circle"></i>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_messages_path(current_user.id), class: "nav-link" do %>
            <i class="far fa-paper-plane"></i>
          <% end %>
        </li>

        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= current_user.full_name %>
          <%= current_user.id %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
