<!--*******HOME********* -->
<p>PAGES#HOME</p>
<%# raise %>
<p>Add to notes: render edit portfolio or name in partial</p>
<% if current_user.first_name.nil? && current_user.last_name.nil? %>
  <%=  render "/users/name_form"%>
<% else %>
  <%# raise %>
  <div class="container">
    <h1>Welcome <%= current_user.first_name %></h1>
      <% if current_user.like_check.empty? %>
        <p> You have no connections, meet new people in discover</p>
      <% else %>
         <p>Your Connections:</p>
            <% current_user.like_check.uniq.each do |person| %>
            <% if person.like_check.uniq.include?(current_user) %>
              <div class="card">
                <%= person.id %>
                <%= person.full_name %>
                <%= cl_image_tag person.photo, height: 100, width: 100, style:"border-radius: 50%; border: solid 1px;" %>
                <%= link_to "Profile", user_path(person.id) %>
              </div>
              <% end %>
        <% end %>
      <% end %>
    </div>
<% end %>
